.team-section {
	overflow: hidden;
	text-align: center;
	height: 100%;
}
.team-section .head {
	padding: 10px 2px;
	box-sizing: border-box;
	text-transform: uppercase;
	margin-bottom: 30px;
	color: #fff;
	width: 100%;
	font-size: 40px;
}

.border {
	display: block;
	margin: auto;
	width: 20%;
	height: 3px;
	background-color: #3498db;
	margin-bottom: 40px;
}
.ps {
	display: flex;
	justify-content: space-evenly;
	align-items: center;
	margin-bottom: 40px;
}

.ps img {
	width: 260px;
	height: 260px;
	overflow: hidden;
	border-radius: 50%;
	filter: grayscale(100%);
	transition: 0.4s all;
}

.ps a:hover > img {
	filter: none;
}

.section {
	width: 600px;
	margin: auto;
	font-size: 20px;
	text-align: justify;
	height: 0;
	overflow: hidden;
}
.section p {
	color: #202020;
	font-size: 20px;
}
.section:target {
	height: auto;
}
.name {
	display: block;
	margin-bottom: 30px;
	text-align: center;
	text-transform: uppercase;
	font-size: 22px;
}
